<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<%- include('header.ejs') -%>
<div class="container">
    <form method="post" action="/create">
        <div class="form-group">
            <label for="exampleInputEmail1">name</label>
            <input type="text" name="name" class="form-control" value="<%=student.name%>" id="exampleInputEmail1" placeholder="name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">theoreticalPoint</label>
            <input type="number" name="theoreticalPoint" value="<%=student.theoreticalPoint%>" class="form-control" id="exampleInputPassword1" placeholder="theoreticalPoint">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">practicePoints</label>
            <input type="number" name="practicePoints" value="<%=student.practicePoints%>" class="form-control" id="exampleInputPassword1" placeholder="practicePoints">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">describe</label>
            <input type="text" name="describe" value="<%=student.describe%>" class="form-control" id="exampleInputPassword1" placeholder="describe">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">evaluate</label>
            <input type="text" name="evaluate" value="<%=student.evaluate%>" class="form-control" id="exampleInputPassword1" placeholder="evaluate">
        </div>

        <div class="form-group">
            <select name="class" <%=student.class%> id="mySelect">

                <option value="c02">c02</option>
                <option value="c03">c03</option>
                <option value="c04">c04</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/" class="btn btn-primary">Out</a>
    </form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>